<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bizarre bizarre, tout est bizarre chez les plombiers</title>
    <link rel="stylesheet" type="text/css" href="assets/scss/styles.scss">
  </head>

  <body class="card">
    <section class="card__left">
      <article class="card__pok__name">
        <div class="card__pok__name">
          <p>Pokémon de base</p>
        </div>
        <div class="card__top__left__name">
          <p>Bulbizarre</p>
        </div>
      </article>
      <article class="card__top__right">
        <div class="card__top__right__PV">
          <p>40 PV</p>
        </div>
        <div class="card__top__right__type">
          <img src="assets/img/leaf.png" />
        </div>
      </article>
      <article class="card__middle__top">
        <figure class="card__middle__top__picture"><img src="assets/img/bulbizarre.jpg" /></figure>
        <div class="card__middle__top__desc">
          <p class="card__middle__top__desc__text">Pokémon Graine.</p>
          <p class="card__middle__top__desc__text">Taille : 0.7m,</p>
          <p class="card__middle__top__desc__text">poids : 6.9 kg.</p>
        </div>
      </article>
    </section>
    <section class="card__bottom">
      <article class="card__middle__bottom">
        <div class="card__middle__bottom__attack">
          <img src="assets/img/leaf.png" />
          <img src="assets/img/leaf.png" />
        </div>
        <div class="card__middle__bottom__attack">
          <p>
            <b>Vampigraine</b> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre
          </p>
        </div>
        <div class="card__middle__bottom__attack">
          <p>20</p>
        </div>
      </article>
      <article class="card__bottom__top">
        <div class="card__bottom__top__weakness">
          <p>Faiblesse</p>
          <img src="assets/img/fire.png" />
        </div>
        <div class="card__bottom__top__resist">
          <p>Résistance</p>
        </div>
        <div class="card__bottom__top__retreat">
          <p>Coût de retraite</p>
          <img src="assets/img/normal.png" />
        </div>
      </article>
      <article class="card__bottom__bottom">
        <div>
          <p>Il a une étrange graine plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV 13 No. 1
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
